.navbar{
 background: #0e0d0b;
}
.nav-link , .navbar-brand{
 color: #f31313;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #061b5c;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background: #0e2be8 !important;
}

.header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.button1 {
    background: black;
    color: #ff0000;
    font-size: 2em;
}

